#user-navigation, #volume-navigation, #left-column, #right-column{
    display: none;
}

#content {
    width: 100%;
    box-shadow: none;
    margin:0;
}

body {
	font: 12pt serif;
	color: black;
	background: none;
	width: 100%;
}

a {
    color: #888;
}

